

{% if 'app.can_register_batch' in perms and record.file_reference.file_created_by == user and record.file_reference.stage == 'Registry'   %}
    <a class="btn btn-danger btn-sm" href="{% url 'document_delete' record.pk %}"><i class="fas fa-trash"></i></a>

{% endif %}

{% if user.is_superuser and record.file_reference.stage == 'Assembly'   %}
    <a class="btn btn-danger btn-sm" href="{% url 'document_delete' record.pk %}"><i class="fas fa-trash"></i></a>

{% endif %}

{% if record.file_reference.stage == 'Quality Assuarance' and 'app.can_qa_file' in perms%}
    <a class="btn btn-info btn-sm" href="{% url 'validate_doc_content' record.id  %}">Check Quality</a>
    <a class="btn btn-outline-warning btn-sm " href="{% url 'get_files_from_storage' record.pk %}">Map Documents </a>

     {% if record.document_file_path is not None %}
                <a class="btn btn-secondary btn-sm" href="{% url 'transcription_lab' record.id record.document_type_id %}">Transcribe</a>
                {% else %}
                    <i class="text-warning">Document not mapped</i>
                {% endif %}
{% endif %}
    {% if record.file_reference.stage == 'Validator' and 'app.can_validate_file' in perms %}
    <a class="btn btn-info btn-sm" href="{% url 'validate_doc_content' record.id  %}">Validate</a>
{% endif %}
{% if record.file_reference.stage == 'Transcriber'  and 'app.can_transcribe_file' in perms %}
<a class="btn btn-outline-warning btn-sm " href="{% url 'get_files_from_storage' record.pk %}">Map Documents </a>

     {% if record.document_file_path is not None %}
                <a class="btn btn-secondary btn-sm" href="{% url 'transcription_lab' record.id record.document_type_id %}">Transcribe</a>
                {% else %}
                    <i class="text-warning">Please Map Documents</i>
                {% endif %}

{% endif %}