<nav class="mt-2 nav-compact text-sm">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
    {% if 'app.is_elderly' in perms and not user.is_superuser %}
         <li class="nav-item has-treeview {% if request.resolver_match.url_name == 'stock_index' %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if request.resolver_match.url_name == 'stock_index'  %} active {% endif %} ">
              <i class="nav-icon fas fa-cubes"></i>
              <p>
                Transactions
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'transactions' user.pk %}" class="nav-link {% if request.resolver_match.url_name == 'stock_index' %} active {% endif %}">
                  <i class="fas fa-layer-group nav-icon"></i>
                  <p>Transactions</p>
                </a>
              </li>
            </ul>
             </li>
{% endif %}
         {% if user.is_superuser  %}
             <li class="nav-item has-treeview {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'storage_home' or request.resolver_match.url_name == 'open_directory' or request.resolver_match.url_name == 'logged_in_user_history' or request.resolver_match.url_name == 'user_specific_file_history' or request.resolver_match.url_name == 'file_details' or request.resolver_match.url_name == 'my_escalated_files' or request.resolver_match.url_name == 'messages'%} menu-open {% endif %}">
            <a href="#" class="nav-link {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'storage_home' or request.resolver_match.url_name == 'open_directory'  or request.resolver_match.url_name == 'logged_in_user_history' or request.resolver_match.url_name == 'user_specific_file_history'  or request.resolver_match.url_name == 'file_details' or request.resolver_match.url_name == 'my_escalated_files' or request.resolver_match.url_name == 'messages' %} active {% endif %} ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                  <i class="fas fa-flag nav-icon"></i>
                  <p>Reports</p>
                </a>
              </li>

</ul>
             </li>


                {% endif %}



            {% if user.is_superuser or 'app.is_chief' in perms %}
            <li class="nav-item has-treeview {% if request.resolver_match.url_name == 'users.index' or request.resolver_match.url_name == 'users.create' or request.resolver_match.url_name == 'groups.index' or request.resolver_match.url_name == 'roles.create' or request.resolver_match.url_name == 'users.logged_in' %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if request.resolver_match.url_name == 'users.index' or request.resolver_match.url_name == 'users.create' or request.resolver_match.url_name == 'groups.index' or request.resolver_match.url_name == 'roles.create' or request.resolver_match.url_name == 'users.logged_in' %} active {% endif %} ">
              <i class="nav-icon fas fa-users"></i>
              <p>
                User Management
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>


            <ul class="nav nav-treeview">
            {% if user.is_superuser  %}
                 <li class="nav-item">
                <a href="{% url 'users.index.t' '1'%}" class="nav-link {% if request.resolver_match.url_name == 'users.index' %} active {% endif %}">
                  <i class="fas fa-user nav-icon"></i>
                  <p>  System Admins</p>
                </a>
              </li>
                <li class="nav-item">
                <a href="{% url 'users.index.t' '5'%}" class="nav-link {% if request.resolver_match.url_name == 'users.index' %} active {% endif %}">
                  <i class="fas fa-user nav-icon"></i>
                  <p>  Mtaani Bank Agents</p>
                </a>
              </li>
                <li class="nav-item">
                <a href="{% url 'users.index.t' '6'%}" class="nav-link {% if request.resolver_match.url_name == 'users.index' %} active {% endif %}">
                  <i class="fas fa-user nav-icon"></i>
                  <p>  Area Chiefs</p>
                </a>
              </li>
                  <li class="nav-item">
                <a href="{% url 'users.index.t' '7'%}" class="nav-link {% if request.resolver_match.url_name == 'users.index' %} active {% endif %}">
                  <i class="fas fa-user nav-icon"></i>
                  <p>  Government Auditors</p>
                </a>
              </li>
                {% endif %}
                {% if user.is_superuser or 'app.is_chief' in perms %}
                <li class="nav-item">
                <a href="{% url 'users.index.t' '2'%}" class="nav-link {% if request.resolver_match.url_name == 'users.index' %} active {% endif %}">
                  <i class="fas fa-user nav-icon"></i>
                  <p>  Elders</p>
                </a>
              </li>
                    {% endif %}
            {% if user.is_superuser %}
                <li class="nav-item">
                <a href="{% url 'users.index.t' '3'%}" class="nav-link {% if request.resolver_match.url_name == 'users.index' %} active {% endif %}">
                  <i class="fas fa-user nav-icon"></i>
                  <p> Guardians</p>
                </a>
              </li>
                {% endif %}
                {% if user.is_superuser or 'app.is_chief' in perms %}
                <li class="nav-item">
                <a href="{% url 'users.index.t' '4'%}" class="nav-link {% if request.resolver_match.url_name == 'users.index' %} active {% endif %}">
                  <i class="fas fa-user nav-icon"></i>
                  <p> Dead</p>
                </a>
              </li>
                    {% endif %}
                    {% if user.is_superuser %}
                <li class="nav-item">
                <a href="{% url 'users.logged_in' %}" class="nav-link {% if request.resolver_match.url_name == 'users.logged_in' %} active {% endif %}">
                  <i class="fas fa-user nav-icon"></i>
                  <p> Logged In Users</p>
                </a>
              </li>
            {% endif %}
            {% if perms.auth.add_user %}
                 <li class="nav-item">
                <a href="{% url 'users.create' %}" class="nav-link {% if request.resolver_match.url_name == 'users.create' %} active {% endif %} ">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Add user</p>
                </a>
              </li>
            {% endif %}
                {% if perms.auth.view_group %}
                  <li class="nav-item">
                <a href="{% url 'groups.index' %}" class="nav-link  {% if request.resolver_match.url_name == 'groups.index' %} active {% endif %} ">
                  <i class="fas fa-check-double nav-icon"></i>
                  <p>Roles</p>
                </a>
              </li>
                    {% endif %}
             {% if perms.auth.add_user %}
                 <li class="nav-item">
                <a href="{% url 'roles.create' %}" class="nav-link {% if request.resolver_match.url_name == 'roles.create' %} active {% endif %}">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Add Role</p>
                </a>
              </li>
            {% endif %}
            </ul>

            </li>

            {% endif %}

     {% if user.is_superuser %}
        <li class="nav-item has-treeview  {% if request.resolver_match.url_name == 'set_max_assignable'%} menu-open {% endif %}" >
            <a href="#" class="nav-link  {% if request.resolver_match.url_name == 'set_max_assignable'%} active {% endif %}">
              <i class="nav-icon fas fa-microphone"></i>
              <p>
               Settings
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">



            <li class="nav-item">
                <a href="{% url 'set_max_assignable'%}" class="nav-link {% if request.resolver_match.url_name == 'set_max_assignable' %} active {% endif %}">
                  <i class="fas fa-asterisk"></i>
                  <p>Amount to Disburse </p>
                </a>
              </li>
            </ul>
        </li>
        {% endif %}
    {% if 'bank.can_handle_bank' in perms and not user.is_superuser %}
        <li class="nav-item has-treeview  {% if request.resolver_match.url_name == 'set_max_assignable'%} menu-open {% endif %}" >
            <a href="#" class="nav-link  {% if request.resolver_match.url_name == 'set_max_assignable'%} active {% endif %}">
              <i class="nav-icon fas fa-users"></i>
              <p>
               Users
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">



            <li class="nav-item">
                <a href="{% url 'agent.users.index.t' '21'%}" class="nav-link {% if request.resolver_match.url_name == 'set_max_assignable' %} active {% endif %}">
                  <i class="fas fa-money-bill-wave"></i>
                  <p> User Accounts </p>
                </a>
              </li>
            </ul>
        </li>
        {% endif %}
        {% if 'bank.can_audit' in perms and not user.is_superuser %}
        <li class="nav-item has-treeview  {% if request.resolver_match.url_name == 'set_max_assignable'%} menu-open {% endif %}" >
            <a href="#" class="nav-link  {% if request.resolver_match.url_name == 'set_max_assignable'%} active {% endif %}">
              <i class="nav-icon fas fa-users"></i>
              <p>
               Elders
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">



            <li class="nav-item">
                <a href="{% url 'audit.users.index.t' '22'%}" class="nav-link {% if request.resolver_match.url_name == 'set_max_assignable' %} active {% endif %}">
                  <i class="fas fa-money-bill-wave"></i>
                  <p> Accounts </p>
                </a>
              </li>
            </ul>
        </li>
        {% endif %}



        </ul>

      </nav>