{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}

<link rel="stylesheet" href="{% static 'adminlte/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
     <div class="row">
        <div class="col-6">
            <div class="card card-primary">

            <div class="card-body">
                <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete File Type</legend>
                <h2>Are you sure you want to delete the File Type "{{ object }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'list_file_types' %}">Cancel</a>
            </div>
        </form>
    </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
 </div>
{% endblock %}

