
{% load app_extras %}


{% if record.assigned_to and record.assigned_to != user %}
    <span class="fas fa-lock"></span>
{% else %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
{% endif %}

{% if not record.stage == 'Registry' %}
            <div class="dropdown-menu">

              {{ record.pk|get_actions_file_state }}


        </div>
{% endif %}




