{% extends 'base.html' %}
{% load static %}
{% load app_extras %}
{% block content %}
    <div class="row">
    <div class="col-md-6" >

        <div id="pdftest"></div>

    </div>
    <div class="col-md-6">
    <div style="overflow-y: scroll; height: 900px;">
        {% for data in table_data %}
        <div class="card">

            <div class="card-body">
                {{ data|safe }}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    </div>


      </div>
{% endblock content %}
{% block js %}



 <script>
 $(function(){
      let documentPath = '{{ document_file_path|safe }}'
     var domain = getDomain()
        let url = 'http://'+ domain + '/media/' + documentPath
     console.log(url)
     pdf = "<embed id='pdf' src="+ url +"  width='100%' height='800'>";
        $('#pdftest').append(pdf)
 })
    </script>

{% endblock %}
