
{% load app_extras %}
{% if record.assigned_to and record.assigned_to != user %}

    {% if user.is_superuser %}
        <a class="btn btn-info btn-block" href="{% url 'view_docs_in_file'  record.pk%}"> <span class="fas fa-eye"></span></a>
        {% else %}
        <span class="fas fa-lock"></span>
        {% endif %}
{% else %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
{%if record.assigned_to.pk == user.pk  %}
                <a class="btn btn-info btn-block" href="{% url 'view_docs_in_file'  record.pk%}">Open to View Docs</a>
                {% endif %}
           {%  if record.assigned_to.pk == user.pk  and record.state == 'Closed' and record.stage != 'Registry'    %}
              {{ record.pk|get_actions_file }}
               {% endif %}




{% if 'app.can_register_batch' in perms and record.state != 'Closed' and record.stage == 'Registry'   %}
    <a class="btn btn-primary btn-block" href="{% url 'file_edit' record.pk %}">Edit</a>
    <a class="btn btn-danger btn-block" href="{% url 'file_delete' record.pk %}">Delete</a>
    {% endif %}

{% if 'app.can_scan_file' in perms and record.stage == 'Scanner' and record.assigned_to.pk == user.pk  %}

    <a class="btn btn-primary btn-block" href="{% url 'upload_document'  record.pk %}">Open to Scan</a>
    {% endif %}
{% if 'app.can_transcribe_file' in perms and record.stage == 'Transcriber' and record.assigned_to.pk == user.pk %}

{#                <a class="btn btn-info btn-block" href="{% url 'get_files_from_storage' record.pk %}">Map Documents </a>#}
{#                 <a class="btn btn-warning btn-block" href="{% url 'batch_documents'  record.pk %}">Transcribe</a>#}

{% endif %}
            {% if 'app.can_qa_file' in perms and record.stage == 'Quality Assurance' and record.assigned_to.pk == user.pk %}

{#                <a class="btn btn-info btn-block" href="{% url 'get_files_from_storage' record.pk %}">Map Documents </a>#}
{#                 <a class="btn btn-warning btn-block" href="{% url 'batch_documents'  record.pk %}">Transcribe</a>#}

{% endif %}
{% if 'app.can_qa_file' in perms and record.stage == 'Quality Assurance' and record.assigned_to.pk == user.pk %}

<a class="btn btn-info btn-block" href="{% url 'open_qa_file'  record.pk%}">Open to Inspect</a>
    {% endif %}
    {% if 'app.can_validate_file' in perms and record.stage == 'Validator' and record.assigned_to.pk == user.pk %}

<a class="btn btn-info btn-block" href="{% url 'open_qa_file'  record.pk%}">Validate</a>
                {% endif %}
{% if record.flagged %}
<a class="btn btn-block btn-sm" href="{% url 'file_details'  record.pk%}">View Details</a>
{% endif %}
        </div>

{% endif %}





