
<!DOCTYPE html>
{% load notifications_filters %}
{% load messages %}
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
  <title>Wazee Funds</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
{#  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/jqvmap/jqvmap.min.css' %}">

    <link rel="stylesheet" href="{% static 'summernote-bs4.min.js' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/daterangepicker/daterangepicker.css' %}">
  <!-- summernote -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/summernote/summernote-bs4.css' %}">



<link rel="stylesheet" href="{% static 'adminlte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte/plugins/toastr/toastr.min.css' %}">
{#<script src="{% static 'domain.js' %}"></script>#}
<script>
function getDomain(){
    let currentdomain = $(location).attr('host')
    let ip = '41.206.54'
    let localhost = '127.0.0.1'
    if(currentdomain.includes(ip) || currentdomain.includes(localhost)){
        return '41.206.54.242:31100'
    }else{
        return '192.168.151.20:31093'
    }
}
</script>
<script src="{% static 'filepond-plugin-file-validate-size.js' %}"></script>
<script src="{% static 'filepond-plugin-file-validate-type.js' %}"></script>
{#<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>#}
{#<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>#}
    <style rel="stylesheet">
        * {
              border-radius: 0 !important;
            }
          .dropdown-toggle::after {
            display: none;
        }
    </style>
    {% block css %}
    {% endblock %}

    {% block header %}
    {% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-gradient-danger  mb-2 ">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>

        {% if user.is_superuser %}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'home' %}" class="nav-link text-white">Home</a>
      </li>


    {% endif %}

    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link text-white " data-toggle="dropdown" href="#">
          <i class="far fa-envelope"></i>
          <span class="badge badge-warning navbar-badge"></span>
        </a>

      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link text-white" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>

        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

          <div class="dropdown-divider"></div>






        </div>
      </li>
        <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link text-white dropdown-toggle" data-toggle="dropdown">
          <img src="{{ user.profile.image.url }}" class="user-image img-circle elevation-2" alt="User Image">
          <span class="d-none d-md-inline">{{request.user.username}}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <!-- User image -->
          <li class="user-header bg-primary">
            <img src=" {{ user.profile.image.url }}" class="img-circle elevation-2" alt="User Image">

            <p>
              {{request.user.username}}
              <small>{{ request.user.email }}</small>
            </p>
          </li>
          <!-- Menu Body -->

          <!-- Menu Footer-->
          <li class="user-footer">
            <a href="{% url 'profile' %}" class="btn btn-default btn-flat">Profile</a>
            <a href="{% url 'logout' %}" class="btn btn-default btn-flat float-right">Sign out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-red elevation-2">
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link bg-gradient-danger">
      <span class="brand-text font-weight-light">Wazee Funds</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{% static 'logo.jpg' %}" class="img-circle elevation-2" alt="Logo" style="border-radius: 40px">
        </div>

        <div class="info">
          <a href="#" class="d-block">{{ user.get_username }}</a>
        </div>
      </div>


        {% block sidebar %}
      <!-- Sidebar Menu -->
            {% include 'app/sidebar.html' %}
        {% endblock sidebar %}
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper text-sm">

    <!-- Main content -->
    <section class="content">

          {%block content %}


  {%endblock content %}



    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; <a href="#">GoK</a>.</strong>
    All rights reserved
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
{% include 'session_security/all.html' %}
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'adminlte/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- jQuery Knob Chart -->
<script src="{% static 'adminlte/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
<!-- daterangepicker -->
<script src="{% static 'adminlte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- Summernote -->
<script src="{% static 'adminlte/plugins/summernote/summernote-bs4.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminlte/dist/js/adminlte.js' %}"></script>
<script src="{% static 'summernote-bs4.min.js' %}"></script>

<script src="{% static 'adminlte/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/select2/js/select2.full.min.js' %}"></script>
{% if messages %}
            {% for message in messages %}
                <script>
          $(function() {

        var msgtype = "{{ message.tags }}"
        var message= "{{ message }}"

    if (msgtype==='success') {
        toastr.success(message)
    }
      if (msgtype==='warning') {
        toastr.warning(message)
    }
        if (msgtype==='error') {
        toastr.error(message)
    }
          if (msgtype==='info') {
        toastr.info(message)
    }
      });

                </script>

            {% endfor %}
          {% endif %}
<script>
    $('#summernote').summernote({
        placeholder: 'Neatly Format The Issues Found',
        tabsize: 4,
        height: 200
      });

    function toggle(source){
        console.log('checkbox selected')
        checkboxes = document.getElementsByName('check');
        for (var i in checkboxes){
            checkboxes[i].checked = source.checked;
        }
    }

</script>

{% block js %}

{% endblock %}
</body>
</html>