{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}
      <div class="row">

    <div class="card">
            <div class="card-header">
              <h3 class="card-title">All Roles</h3>
                <div class="card-tools">
                    <a href="{% url 'roles.create' %}" class="btn btn-primary">Add Role</a>
                </div>
            </div>
            <!-- /.card-header -->
           <div class="card-body">
{#            <pre>{% filter force_escape %}{% debug %}{% endfilter %}</pre>#}
                {% if filter %}
                <form action="" method="get" class="form form-inline m-2">
                {{ filter.form | crispy }}
                    <input type="submit" class="btn btn-default btn-sm m-1" value="search">
                </form>
                {% endif %}
              {% render_table table %}

            </div>
            <!-- /.card-body -->
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

      </div>
      <!-- /.row -->


{% endblock %}