{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="row">
    {#        no of uploaded documents#}
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ admins|length }}</h3>

                <p>Admins</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'users.index.t' 1 %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        {#    no of created files#}
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-light">
              <div class="inner">
                <h3>{{ elderly|length }}</h3>

                <p>Elders</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'users.index.t' 2 %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        {#    no of users#}
    <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ guardians|length }}</h3>

                <p>Gurdians</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'users.index.t' 3 %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        {#    no of validated files over the total files#}
    <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ dead|length }}</h3>

                <p>Dead</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'users.index.t' 4 %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
    </div>





    <div class="row">




{#    no of files that passed quality assurance over total files#}
{#    no of rejected files by qa#}
         <div class="col-md-6">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header bg-primary">
                    <h3 class="card-title">Recent Elders Registered | {{ elderly | length }}</h3>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                    <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th style="width: 40px">Joined</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for elderl in elderly|slice:":10" %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ elderl.profile.full_name }}</td>

                         <td>{{ elderl.email }}</td>

                      <td>{{ elderl.date_joined.date }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer card-comments">


                <!-- /.card-comment -->
              </div>
              <!-- /.card-footer -->

            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header bg-danger">
                <h3 class="card-title">Recent Deaths | {{ dead |length }}</h3>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
             <div class="card-body">
                    <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th style="width: 40px">Joined</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for elderl in dead|slice:":10" %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ elderl.profile.full_name }}</td>

                         <td>{{ elderl.email }}</td>

                      <td>{{ elderl.date_joined.date }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer card-comments">

                <!-- /.card-comment -->
              </div>

              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
    </div>
{% endblock content %}

{% block js %}
<script src="{% static 'adminlte/plugins/chart.js/Chart.min.js' %}"></script>


{% endblock %}