{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
    {#        no of uploaded documents#}
       <!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <a href="{% url 'home' %}"> <b>Verify User</b> &nbsp;To withdraw</a>
  </div>
  <!-- User name -->


  <!-- START LOCK SCREEN ITEM -->
  <div class="lockscreen-item">
    <!-- lockscreen image -->
    <div class="lockscreen-image">
      <img src="{% static 'favicons/android-chrome-512x512.png' %}" alt="Icon image">
    </div>
    <!-- /.lockscreen-image -->

    <!-- lockscreen credentials (contains the form) -->
    <form class="lockscreen-credentials" method="post" action="{% url 'verify_withdrawal' user_pk %}">
        {% csrf_token %}
      <div class="input-group">
        <input type="number" class="form-control" placeholder="amount" required="required" name="amt">

        <div class="input-group-append">
          <button type="submit" class="btn"><i class="fas fa-arrow-right text-muted"></i></button>
        </div>
      </div>
    </form>
    <!-- /.lockscreen credentials -->

  </div>
  <!-- /.lockscreen-item -->
  <div class="help-block ">


          <ul>
      <li> Enter the Amount You wish to withdraw</li>
          <li> Submit Form</li>
          <li>Verify user via webcam</li>
          </ul>

  </div>
  <div class="text-center">
      {% if not 'app.can_receive_file' in perms %}
    <a href="{% url 'agent.users.index.t' '21' %}">Or Go Back To users</a>

      {% endif %}
  </div>
  <div class="lockscreen-footer text-center">
  </div>
</div>
    </div>
<!-- /.center --
    </div>
{% endblock content %}