{% extends 'base.html' %}
{% load static %}
{% load app_extras %}
    {% block header %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div class="row">

     <div class="col-md-6" id="renderer" style="height:800px;overflow: auto; width:800px;">
            <div id="pdftest"></div>
        </div>

    <div class="col-md-6">
        <div class="row">
                <button class="btn btn-default m-2" id="left"><i class="fa fa-undo"></i></button>
            <button class="btn btn-default m-2" id="right"><i class="fa fa-redo"></i></button>
            <button class="btn btn-info m-2" id="plus"><i class="fa fa-search-plus"></i></button>
            <button class="btn btn-info m-2" id="minus"><i class="fa fa-search-minus"></i></button>
            </div>
        <div class="forms" style="overflow: auto; height:800px">
               <div class="card">
            <div class="card-body">
                <form action="{% url 'update_doc_content' document.id %}" method="POST">
                    {% csrf_token %}
                    {{ form.json.errors }}
                    {{form.as_p}}
                     {{form.media}}


                <div class="card-footer">
                  <button type="submit" id="saveform" class="btn btn-primary">Submit</button>
                </div>
             </form>
            </div>
        </div>
        </div>

    </div>
    </div>
{% endblock content %}
{% block js %}
    <script>
    $(function(){
        let documentPath = '{{ path|safe }}';
        var domain = getDomain()
        let url = 'http://'+ domain + '/media/' + documentPath
        {#$('#pdf').attr('src', url)#}
        var rotation = 0;
        var scale = 1;

        pdf = "<embed id='pdf' src="+ url +"  width='100%' height='800'>";


        $('#pdftest').append(pdf)
          $('#left').click(function(){

            if ( $('#pdf').length ){
                rotation = rotation - 90;
                if(rotation <= -360){
                    rotation = 0
                }
                console.log(rotation)
                  $('#pdf').css({
                    '-moz-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-webkit-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-o-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-ms-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    'transform':'rotate('+ rotation +'deg) scale('+ scale +')'
                    });

                }else{
                console.log('could not find item')
            }
        })
        $('#right').click(function(){

                rotation = rotation + 90;
                if(rotation >= 360){
                    rotation = 0
                }
                  $('#pdf').css({
                    '-moz-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-webkit-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-o-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-ms-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    'transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    });
             })
             $('#plus').click(function(){
                 scale = scale + 1;
                if(scale >= 5){
                    scale = 1
                }
                  $('#pdf').css({
                    '-moz-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-webkit-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-o-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-ms-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    'transform':'scale('+ scale +') rotate('+ rotation +'deg)',

                    });
             })
             $('#minus').click(function(){
                    scale = scale - 1;
                if(scale <= 5){
                    scale = 1
                }
                  $('#pdf').css({
                    '-moz-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-webkit-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-o-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-ms-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    'transform':'scale('+ scale +') rotate('+ rotation +'deg)'
                    });
             })
        {#$('#saveform').click(function(e){#}
        {#    e.preventDefault()#}
        {#    const errors = editor.validate();#}
        {##}
        {#if (errors.length) {#}
        {#  // errors is an array of objects, each with a `path`, `property`, and `message` parameter#}
        {#  // `property` is the schema keyword that triggered the validation error (e.g. "minLength")#}
        {#  // `path` is a dot separated path into the JSON object (e.g. "root.path.to.field")#}
        {##}
        {#  console.log(errors);#}
        {#}#}
        {#else {#}
        {#  // It's valid!#}
        {#}#}
        {#})#}

    })

    </script>
{% endblock js %}