{% extends 'base.html' %}
{% load static %}
{% load app_extras %}
    {% block header %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div class="row">

     <div class="col-md-6" id="renderer" style="height:800px;overflow: auto; width:800px;">
            <div id="pdftest"></div>
        </div>

    <div class="col-md-6">
        <div class="row">
                <button class="btn btn-default m-2" id="left"><i class="fa fa-undo"></i></button>
            <button class="btn btn-default m-2" id="right"><i class="fa fa-redo"></i></button>
            <button class="btn btn-info m-2" id="plus"><i class="fa fa-search-plus"></i></button>
            <button class="btn btn-info m-2" id="minus"><i class="fa fa-search-minus"></i></button>
            <button class="btn btn-danger m-2 float-right" id="search"><i class="fa fa-search"></i> Search Attachment</button>

            </div>

        <div class="forms" style="overflow: auto; height:800px">
               <div class="card">
            <div class="card-body">
                <form></form>
            </div>
        </div>
        </div>

    </div>
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Select A Related Document</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="preview">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" id="previousmodal">Previous</button>

                <button class="btn btn-secondary float-right" id="nextmodal">Next</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-block btn-danger align-self-center m-2" id="copylink">Copy Link</button>
                    </div>
                </div>
                <div class="row">


                     <div class="col-md-12" id="documentpdf">



                 </div>
                </div>



            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
{% endblock content %}
{% block js %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jsv.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jsonform.js' %}"></script>
    <script>
    $(function(){
        let documentPath = '{{ path|safe }}';
        console.log(documentPath)
        let document_json = {{ document_json|safe }};

        let scannedDocuments = {{ pages|safe }};
        var document_id = {{ document_id|safe }};
        let edit_data = ''
        try{
        edit_data = {{ document_details|safe }};

        }catch (e) {
         edit_data =  ''
        }

        var domain = getDomain()
        let url = 'http://'+ domain + '/media/' + documentPath
        var rotation = 0;
        var scale = 1;

        console.log(edit_data)

        pdf = "<embed id='pdf' src="+ url +"  width='100%' height='800'>";


        $('#pdftest').append(pdf)
          $('#left').click(function(){

            if ( $('#pdf').length ){
                rotation = rotation - 90;
                if(rotation <= -360){
                    rotation = 0
                }
                console.log(rotation)
                  $('#pdf').css({
                    '-moz-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-webkit-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-o-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-ms-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    'transform':'rotate('+ rotation +'deg) scale('+ scale +')'
                    });

                }else{
                console.log('could not find item')
            }
        })
        $('#right').click(function(){

                rotation = rotation + 90;
                if(rotation >= 360){
                    rotation = 0
                }
                  $('#pdf').css({
                    '-moz-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-webkit-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-o-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-ms-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    'transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    });
             })
             $('#plus').click(function(){
                 scale = scale + 1;
                if(scale >= 5){
                    scale = 1
                }
                  $('#pdf').css({
                    '-moz-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-webkit-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-o-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-ms-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    'transform':'scale('+ scale +') rotate('+ rotation +'deg)',

                    });
             });
             $('#minus').click(function(){
                    scale = scale - 1;
                if(scale <= 5){
                    scale = 1
                }
                  $('#pdf').css({
                    '-moz-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-webkit-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-o-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-ms-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    'transform':'scale('+ scale +') rotate('+ rotation +'deg)'
                    });
             });

        $('form').jsonForm({
        schema: document_json,
            value:edit_data,
        onSubmit: function (errors, values) {

            if (errors) {
                console.log(errors)
                Swal.fire({
                      toast: true,
                          type:'error',
                       title: 'Error',
                       text: 'Failed To Submit Form',
                      position: 'top-end',
                      showConfirmButton: false,
                      timer: 1000,

                    });
                $('#res').html('<p>I beg your pardon?</p>');
            }
            else {

                let data = JSON.stringify(values)
                let url = "{% url 'update_doc_content' document_id %}"
               $.ajax({
              type: "POST",
              url: url,
              data: data,
              success: function(response){
                   Swal.fire({
                      toast: true,
                       type:'success',
                       title: 'Success',
                       text: 'Form Submitted successfully',
                      position: 'top-end',
                      showConfirmButton: false,
                      timer: 1000,

                    });

              },
               error: function(error){
                  console.log(error)
                      Swal.fire({
                      toast: true,
                          type:'error',
                       title: 'Error',
                       text: 'Failed To Submit Form',
                      position: 'top-end',
                      showConfirmButton: false,
                      timer: 1000,

                    });
               },
              dataType: 'json'
            });
            }
        }
    });

             let index = 0;
             let modalpage = 1;
             let uri_modal = "http://" +domain+ "/media/" + scannedDocuments[index] + "#toolbar=0";
             let url_modal = encodeURI(uri_modal);
             $('#documentpdf').append("<embed id='pdf' src=" + uri_modal +"  width= '100%' height= '800'>");


        $('#previousmodal').click(function(){
            if(modalpage > 1){
                if(index !== 0){
                    index = index -1
                }
                index = index -1
            }

            let uri = "http://" + domain + "/media/"+ scannedDocuments[index] + "#toolbar=0";
            let url = encodeURI(uri);
             $('#copylink').text(scannedDocuments[index]);
            $('#documentpdf').empty();
            $('#documentpdf').append("<embed id='file' src= "+ uri +" width= '100%' height= '800' >")
        });

        $('#nextmodal').click(function(){

             if(modalpage < scannedDocuments.length){
                 modalpage = modalpage + 1
                 if(index < scannedDocuments.length - 1){
                     index = index + 1
                 }
             }

             let uri = "http://" + domain + "/media/" + scannedDocuments[index] + "#toolbar=0";
             let url = encodeURI(uri);
              $('#copylink').text(scannedDocuments[index]);
            $('#documentpdf').empty();
            $('#documentpdf').append("<embed id='pdf' src= "+ uri +" width= '100%' height= '800'>");
        });

    });

    $('#search').click(function(){
        jQuery.noConflict()
            $('#modal-lg').modal('show');
    })

    </script>
{% endblock js %}
