{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}


{% block content %}

          <div class="row">

    <div class="card">
           <div class="card-header with-border">
                <h3 class="card-title">All Users</h3>

                <div class="card-tools">
                    {% if user.is_superuser %}
                    <a href="{% url 'users.create' %}" class="btn btn-primary">Add User</a>
                    {% endif %}
                {% if 'bank.can_audit' in perms and not user.is_superuser %}
                    {% if total_disburcement >= 0 %}
                        <h5>Total dispatched this month <span class="badge badge-secondary">Ksh {{ total_disburcement }}</span></h5>
                        {% endif %}
                    {% endif %}
                </div>
              </div>
            <!-- /.card-header -->
            <div class="card-body">
{#            <pre>{% filter force_escape %}{% debug %}{% endfilter %}</pre>#}
                {% if filter %}
                <form action="" method="get" class="form form-inline m-2">
                {{ filter.form | crispy }}
                    <input type="submit" class="btn btn-default btn-sm m-1" value="search">
                </form>
                {% endif %}
              {% render_table table %}

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->


{% endblock %}



