{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}

  <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">

              <h3 class="card-title">Document Files Created</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                 {% if filter %}
                <form action="" method="get" class="form form-inline m-2">
                {{ filter.form | crispy }}
                    <input type="submit" class="btn btn-default btn-sm m-1" value="search">
                </form>
                {% endif %}

                {% csrf_token %}
                 {% if user.is_superuser and 1 == 0 %}
                <div class="float-right">
                    <button class="btn btn-default bg-gradient-maroon" type="submit" id="close" >Close</button>
                <button class="btn btn-default bg-gradient-navy" type="submit" id="open">Open</button>
                <button class="btn btn-default bg-gradient-lime" type="submit" id="assign">Un-Assign</button>
                </div>
                {% endif %}
              {% render_table table %}


            </div>
            <!-- /.card-body -->
          </div>
        </div>
  </div>

    {% include 'file/return_file_modal.html' %}
{% endblock content %}

{% block js %}
<script src="{% static 'return_actions/modal.js' %}"></script>
    <script>
     $('#assign').click(function(event){
         url = "{% url 'unassign' %}";
         event.preventDefault()
         $('#multipleForm').attr('action',url)
         $('#multipleForm').submit()
     })
     $('#open').click(function(event){
         url = "{% url 'open' %}";
         event.preventDefault()
         $('#multipleForm').attr('action',url)
         $('#multipleForm').submit()
     })
     $('#close').click(function(event){
         url = "{% url 'close' %}";
         event.preventDefault()
         $('#multipleForm').attr('action',url)
         $('#multipleForm').submit()
     })


    </script>
{% endblock %}