
{% load app_extras %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
{#              {{ record.file_reference|get_qa_buttons }}#}
                <div role="separator" class="dropdown-divider"></div>
                {% if record.document_file_path is not None %}
                <a href="{% url 'validate_doc_content' record.id %}" class="btn btn-sm btn-info btn-block">Open</a>
            <a href="{% url 'transcription_lab' record.id record.document_type_id %}" class="btn btn-sm btn-default btn-block">Edit File Content</a>

                {% else %}
                    <i class="text-warning">Please Map Documents</i>
                {% endif %}
            </div>





