{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}

    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ files }}</h3>

                <p>Files Recorded</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
    <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-lime">
              <div class="inner">
                <h3>{{ total_users }}</h3>

                <p>Users Assigned</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

      <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-light">
              <div class="inner">
                <h3>{{ files_today }}</h3>

                <p>Files Uploaded Today</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

     <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-danger">
              <div class="inner">
                <h3>{{ commented }}</h3>

                <p>Files Are Problematic</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>


    </div>
     <div class="row">
        <div class="col-md-6">
             <div class="card card-widget">
              <div class="card-header">
                    <h3 class="card-title">Recent Files Uploaded Today</h3>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                    {% render_table file_table %}
              </div>
              <!-- /.card-body -->
              <div class="card-footer card-comments">


                <!-- /.card-comment -->
              </div>
              <!-- /.card-footer -->

            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-widget">
              <div class="card-header">
                    <h3 class="card-title">Users Performance In Inventory</h3>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                   <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>User I.D Number</th>
                      <th>Total Files</th>
                      <th style="width: 40px">Files Record Today</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in user_data_table %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                        <td><span class="text-blue">{{ user.username }}</span></td>
                      <td>
                        {{ user.total_files }}
                      </td>
                      <td><span class="badge bg-danger">{{ user.files_today }}</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer card-comments">


                <!-- /.card-comment -->
              </div>
              <!-- /.card-footer -->

            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-6">
            <div class="card card-widget">
              <div class="card-header bg-gradient-danger">
                    <h3 class="card-title">Commented File</h3>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">

              </div>
              <!-- /.card-body -->
              <div class="card-footer card-comments">

                    {% render_table commented_table %}
                <!-- /.card-comment -->
              </div>
              <!-- /.card-footer -->

            </div>
        </div>
    </div>


{% endblock %}