{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block css %}

     <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">

{% endblock %}
{% block content %}

          <div class="row">
<div class="col-md-6 ">

          <div class="card">
            <div class="card-header">
              <h class="card-title">Deposits (Disbursements)</h>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card-tools">

                </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>

                <tr>
                  <th>Month</th>
                  <th>Year</th>
                  <th>Amount</th>
                  <th>Balance</th>
                  <th>At</th>
                </tr>
                </thead>
                <tbody>

                    {% for deposit in deposits %}
                         <tr>
                  <td>{{deposit.month}}</td>
                  <td>{{deposit.year}}</td>
                             <td><span class="badge badge-info"> {{deposit.amount}}</span></td>
                             <td><span class="badge badge-success">{{deposit.balance}}</span></td>
                             <td><span class="badge badge-secondary">{{deposit.at}}</span></td>
                </tr>
    {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                  <th>Month</th>
                  <th>Year</th>
                  <th>Amount</th>
                  <th>Balance</th>
                  <th>At</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
          <div class="col-md-6">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Withdrawals</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card-tools">

                </div>
              <table id="example3" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>By</th>
                  <th>Agent</th>
                  <th>Amount</th>
                  <th>Balance</th>
                  <th>at</th>
                </tr>
                </thead>
                <tbody>
                {% for withdrawal in withdrawals %}
                <tr>
                  <td>{{withdrawal.by_user}}</td>
                  <td>{{withdrawal.by_agent}}</td>
                   <td><span class="badge badge-info"> {{withdrawal.amount}}</span></td>
                             <td><span class="badge badge-success">{{withdrawal.balance}}</span></td>
                             <td><span class="badge badge-secondary">{{withdrawal.at}}</span></td>
                </tr>

                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                 <th>By</th>
                  <th>Agent</th>
                  <th>Amount</th>
                  <th>Balance</th>
                  <th>at</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
          </div>


{% endblock %}

{% block js %}

    <script src=" {% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src=" {% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script>
  $(function () {

   $("#example1").DataTable();
   $("#example3").DataTable();
  });
</script>
{% endblock %}

